:root{
    --Brightorange:hsl(31, 77%, 52%);
    --Darkcyan: hsl(184, 100%, 22%);
    --Verydarkcyan:hsl(179, 100%, 13%);
    --Transparentwhite: hsla(0, 0%, 100%, 0.75);
    --Verylightgray: hsl(0, 0%, 95%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--Transparentwhite);
}

img{
    width: 30%;
}

.caixa{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50%;
}

.caixinha1, .caixinha2, .caixinha3{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo e o botão fiquem em posições separadas */
    padding: 50px;
    height: 100%;
    width: 30%;
}

.caixinha1{
    background-color: var(--Brightorange);
  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.caixinha2{
    background-color: var(--Darkcyan);

}

.caixinha3{
    background-color: var(--Verydarkcyan);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

p{
    font-size: 20px;
    font-weight: 300;
    color: var(--Verylightgray);
    font-family: "Lexend Deca", serif;
    margin-bottom: auto;
}

h1{
    color: #ffffff;
    font-family: "Big Shoulders Display", serif;
    margin-bottom: 10px;
    font-size: 40px;
}

button {
    width: 50%;
    padding: 15px;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 1000px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f4f4f4;
}

.botao1{
    color: var(--Brightorange)
}

.botao2 {
    color: var(--Darkcyan);
}

.botao3{
    color: var(--Verydarkcyan);
}

@media (max-width: 1100px) {
    .caixa {
        flex-direction: column; /* Coloca as caixas uma em cima da outra */
        width: 80%; /* Ajusta a largura das caixas para caberem melhor */
        height: 80%;
    }

    .caixinha1, .caixinha2, .caixinha3 {
        width: 80%; /* Cada caixa ocupa 100% da largura da tela */
        margin-bottom: 0px; /* Adiciona espaço entre as caixas */
    }

    button{
        margin-top: 40px;
    }

    .caixinha1{
        border-radius: 20px 20px 0 0;
    }

    .caixinha3{
        border-radius: 0px 0px 20px 20px;
    }
}
